* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, 'Ubuntu', 'Segoe UI', sans-serif,
    sans-serif;
}

.container {
  max-width: 1200px;
  min-width: 100vh;
  margin: 0 auto;
  background-color: #eee;
  padding: 15px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  transition: transform 100ms ease-in-out;
}
.post:hover {
  transform: scale(1.05);
}
.post-content {
  padding: 30px;
}
.post img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
